body {
    color: #202223;
    font-family:  Georgia, 'Times New Roman', Times, serif
}

pre {
    position: relative;
    font-size: large;
    white-space: pre-wrap;
}


button.copy-button {
    position: absolute;
    top: 0;
    right: 0;
}